

#header {
    background-color:aquamarine;
    color:blanchedalmond;
    text-align: center;
}

#nav {
    line-height: 30px;
    background-color: black;
    
    color:red;
   

}


#section {
    background-color: red;
    color: blue;
    text-align: center;
}



